.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  background-color: #d1ffb1;
}
/*
.btn-block {
  width: 80%;
}
*/
.footer {
  font-size: 9px;
}

thead.bingo tr{
  height: inherit;
}

.bingo tr{
  height: 144.1px;
}

.bingo th{
  font-size: 24px;
}

.bingo td, .bingo th{
  width: 20%;
  background-image: url("bgs/0.gif");
  background-repeat: repeat;
  text-align: center;
  vertical-align: middle;
}
