.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  background-color: #d1ffb1;
  margin-bottom: 50px;
}
/*
.btn-block {
  width: 80%;
}
*/
thead.bingo tr{
  height: inherit;
}

.bingo tr{
  height: 144.1px;
}

.bingo th{
  font-size: 24px;
}

.bingo td, .bingo th{
  width: 20%;
  background-image: url("./static/bg.gif");
  text-align: center;
  vertical-align: middle;
}
