<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" media="all">
    <!-- Own css -->
    <link rel="stylesheet" href="../static/style.css" media="all">
    <!-- http://jquery.com/ -->
    <script src="../static/jquery-3.3.1.js"></script>
    <!-- own js -->
    <script src="../static/script.js"></script>

    <title>Bingo Generator</title>
  </head>
  <body>
    <div class="container">
      <table class="table noprint">
          <tr>
            <td colspan="5"><input type="radio" name="colour" id="colour" value="rand" checked> Random</td>
          </tr>
          <tr>
            <td><input type="radio" name="colour" id="colour" value="0"> <div class="colourSample c0"></div></td>
            <td><input type="radio" name="colour" id="colour" value="1"> <div class="colourSample c1"></div></td>
            <td><input type="radio" name="colour" id="colour" value="2"> <div class="colourSample c2"></div></td>
            <td><input type="radio" name="colour" id="colour" value="3"> <div class="colourSample c3"></div></td>
            <td><input type="radio" name="colour" id="colour" value="4"> <div class="colourSample c4"></div></td>
          </tr>
          <tr>
            <td><input type="radio" name="colour" id="colour" value="5"> <div class="colourSample c5"></div></td>
            <td><input type="radio" name="colour" id="colour" value="6"> <div class="colourSample c6"></div></td>
            <td><input type="radio" name="colour" id="colour" value="7"> <div class="colourSample c7"></div></td>
            <td><input type="radio" name="colour" id="colour" value="8"> <div class="colourSample c8"></div></td>
            <td><input type="radio" name="colour" id="colour" value="9"> <div class="colourSample c9"></div></td>
          </tr>
      </table>
      <table class="table table-bordered bingo">
        <thead class="bingo">
          <tr>
            <th colspan=5>Znajdź kogoś, kto:</td>
          </tr>
        </thead>
        <tbody class="bingo">
          <tr>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
          </tr>
          <tr>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
          </tr>
          <tr>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <th>Bingo!</th>
            <td>Bingo!</td>
            <td>Bingo!</td>
          </tr>
          <tr>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
          </tr>
          <tr>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
            <td>Bingo!</td>
          </tr>
        </tbody>
      </table>
      <input id="generate" type="button" class="btn btn-success btn-block noprint" value="Generate!">
      <input id="print" type="button" class="btn btn-success btn-block noprint" value="Print!">
    </div>
  </body>
</html>
